{
	"env": "dev",
	"testAddress": "me@example.com",

	"base": "https://rolodex.example.com",
	"port": 3000,

	"urlUnsubscribed": "",
	"urlVerified": "",
	"urlTrackingPixel": "",
	"urlInternalError": "",

	"awsAccessKeyId": "",
	"awsSecretAccessKey": "",
	"awsSesRegion": "",

	"pgHostname": "localhost",
	"pgUsername": "rolodex",
	"pgPassword": "rolodex",
	"pgDatabase": "rolodex",

	"batchSize": 5,
	"numBatches": 1,

	"tokenKey": "hush, this is a secret",
	"tokenValidityEmail": 7,
	"tokenValidityCookie": 365,

	"rpBase": "https://api.razorpay.com/v1",
	"rpKeyId": "rzp_test_XXXXXXXXXXXXXX",
	"rpKeySecret": "XXXXXXXXXXXXXXXXXXXXXXXX",
	"rpSigningSecret": "hush, this is a secret"

}
