<html>
	<body>
		<p>Hi {{data.name}}!</p>

		<p>Yes! TRAI has finally proposed net neutrality  regulation!</p>

		<p>ut there's a catch.</p>

		<p>Big telcos are lobbying hard to kill any meaningful net neutrality,
		and to punch loopholes in last year's pro-user regulations. They
		are very well organized and have deep pockets.</p>

		<p>Unless TRAI hears our voices loud and clear, and knows that
		lakhs of Indians are watching them and paying attention, telcos
		will get their way in the end.</p>

		<p>Help save the Internet one more time.</p>

		<p><a href="mailto:trai@gmail.com">Send an email to TRAI.</a></p>

		<p><a href="http://rolodex.internetfreedom.foundation/unsubscribe?e= {{~token}}">unsubscribe</a></p>

	</body>
</html>
